/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Inter:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@600;700&family=Inter:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20% 7%;
    --foreground: 150 10% 92%;
    --card: 220 18% 10%;
    --card-foreground: 150 10% 92%;
    --primary: 152 60% 52%;
    --primary-foreground: 220 20% 7%;
    --secondary: 220 15% 15%;
    --secondary-foreground: 150 10% 80%;
    --muted: 220 15% 13%;
    --muted-foreground: 220 10% 50%;
    --accent: 152 60% 52%;
    --accent-foreground: 220 20% 7%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 220 15% 18%;
    --input: 220 15% 18%;
    --ring: 152 60% 52%;
    --radius: 0.75rem;
    /* --font-display: 'Space Mono', monospace; */
    /* --font-body: 'Inter', sans-serif; */

  --font-display: 'Sora', sans-serif;
  --font-body: 'Inter', sans-serif;

    --glow-primary: 0 0 40px hsl(152 60% 52% / 0.3);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-body);
  }
}